

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
   background-color: hsl(212, 45%, 89%);
   font-family: Arial, sans-serif;
}
.card{
    background-color: white;
     border-radius: 16px;
     text-align: center;
     width: 250px;
     padding: 12px;
}
.card img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 16px;
}
.card h1{
    font-size: 17px;
     color: hsl(218, 44%, 22%);
     margin-bottom: 12px;
}
.card p{
    color: hsl(220, 15%, 55%);
     font-size: 13px;
     padding-bottom: 15px;
    
}